<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />		
		<link rel="stylesheet" href="/css/styles.css" />		
	</head>	

	<body>	

		<header class="container">
			<nav class="navbar navbar-default navbar-fixed-top">
			    <div class="container-fluid">			        
			      	<div class="collapse navbar-collapse" id="myNavbar">
				        <ul class="nav navbar-nav ">
				          <li><a href="/">Usage</a></li>
				          <li><a href="/about">About</a></li>				          
				        </ul>
			      	</div>
			    </div>
		  	</nav>								
		</header>